asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
Automat==24.8.1
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==43.0.1
cssselect==1.2.0
decorator==5.1.1
defusedxml==0.7.1
Django==5.1.1
djangorestframework==3.15.2
docopt==0.6.2
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.16.1
fsspec==2024.9.0
greenlet==3.0.3
huggingface-hub==0.25.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
iniconfig==2.0.0
ipython==8.12.3
itemadapter==0.9.0
itemloaders==1.3.1
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mistune==3.0.2
mpmath==1.3.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.3
numpy==2.1.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
packaging==24.1
pandocfilters==1.5.1
parsel==1.9.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pipreqs==0.4.13
platformdirs==4.3.6
playwright==1.47.0
pluggy==1.5.0
prompt_toolkit==3.0.48
Protego==0.3.1
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyDispatcher==2.0.7
pyee==12.0.0
Pygments==2.18.0
pyOpenSSL==24.2.1
pytest==8.3.3
pytest-base-url==2.1.0
pytest-playwright==0.5.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.2
pyzmq==26.2.0
queuelib==1.7.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-file==2.1.0
rpds-py==0.20.0
safetensors==0.4.5
scrapeops_scrapy_proxy_sdk==1.0
Scrapy==2.11.2
scrapy-playwright==0.0.41
Scrapy-UserAgents==0.0.1
service-identity==24.1.0
setuptools==75.1.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
stack-data==0.6.3
sympy==1.13.3
text-unidecode==1.3
tinycss2==1.3.0
tldextract==5.1.2
tokenizers==0.19.1
torch==2.4.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.2
triton==3.0.0
Twisted==24.7.0
typing_extensions==4.12.2
urllib3==2.2.3
w3lib==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
yarg==0.1.9
zope.interface==7.0.3
